<div class="card shadow mb-5 mx-4 bg-body rounded" style="width: 18rem">
  <img src="{{image}}" class="card-img-top" alt="{{title}}" />
  <div class="card-body text-center">
    <h5 class="card-title search-title">
      {{title}}
    </h5>
    <div class="card-text text-start">
      <div>Ready in: {{readyInMinutes}} minutes</div>
      <div>Servings: {{servings}}</div>
    </div>
    <a href="/recipes/{{id}}" class="btn btn-primary view-btn mt-3">View</a>
    <a
      href="/mealplan/{{mealPlanId}}"
      class="btn btn-primary add-btn mt-3"
    >Add</a>
  </div>
</div>