{{>private-navbar}}


  <div class="container-fluid bg-light mt-5">
      <div class="p-4">
        <h1 id="search-title" data-meal="{{meal}}" data-day="{{day}}" data-id="{{id}}" class="text-center search-title">{{day}} - {{meal}}</h1>
        <form id="meal-search"class="d-flex flex-wrap flex-column">
          <input
            class="form-control form-control-lg mb-3"
            type="text"
            placeholder="Search for tomatoes.."
            aria-label=".form-control-lg example"
            id="search-input"
          />

          <div class="text-center">Select dietary requirements</div>
          <div
            class="btn-group mb-3 flex-wrap"
            id="diet-input"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="glutenFree"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="glutenFree"
              >Gluten Free</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="ketogenic"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="ketogenic"
              >Ketogenic</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="vegetarian"
              >Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="lacto-vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="lacto-vegetarian"
              >Lacto-Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="ovo-vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="ovo-vegetarian"
              >Ovo-Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="vegan"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="vegan"
              >Vegan</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="pescetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="pescetarian"
              >Pescetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="paleo"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="paleo"
              >Paleo</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="primal"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="primal"
              >Primal</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="whole30"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="whole30"
              >Whole30</label
            >
          </div>

          <div class="text-center">Any intolerances?</div>
          <div
            class="btn-group mb-3 flex-wrap"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="1"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="1">Dairy</label>
            <input
              type="checkbox"
              class="btn-check"
              id="2"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="2">Egg</label>
            <input
              type="checkbox"
              class="btn-check"
              id="3"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="3">Gluten</label>
            <input
              type="checkbox"
              class="btn-check"
              id="4"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="4">Grain</label>
            <input
              type="checkbox"
              class="btn-check"
              id="5"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="5">Peanut</label>
            <input
              type="checkbox"
              class="btn-check"
              id="6"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="6">Seafood</label>
            <input
              type="checkbox"
              class="btn-check"
              id="7"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="7">Sesame</label>
            <input
              type="checkbox"
              class="btn-check"
              id="8"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="8">Shellfish</label>
            <input
              type="checkbox"
              class="btn-check"
              id="9"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="9">Soy</label>
            <input
              type="checkbox"
              class="btn-check"
              id="10"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="10">Sulfite</label>
            <input
              type="checkbox"
              class="btn-check"
              id="11"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="11">Tree</label>
            <input
              type="checkbox"
              class="btn-check"
              id="12"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="12">Wheat</label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg search-btn">
            Search
          </button>
        </form>
      </div>
      <div class="search-results mx-5 mt-4">
        <h3 class="text-center search-title mb-4">Results</h3>
        <div class="d-flex flex-wrap justify-content-center">
         {{>meal-card}}
        </div>
      </div>
    </div>