{{> private-navbar}}

<main class="main-container flex-shrink-0">
    <div class="container bg-light mt-3 text-center">
      <div class="py-4">
      <img
        src="{{recipe.image}}"
        height="300"
        width="500"
      />
      </div>
      <div class="py-2">
      <h1 class="recipe-title">{{recipe.title}}</h1>
      </div>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <span class="fw-bold recipe-text">Servings: </span> {{recipe.servings}} ||
          </li>
          <li class="list-inline-item">
            <span class="fw-bold recipe-text">Ready in:</span> {{recipe.readyInMinutes}} minutes ||
          </li>
          <li class="list-inline-item">
            <span class="fw-bold recipe-text">Calories:</span> {{recipe.calories}}
          </li>
        </ul>
      </div>
      <div class="mx-5 my-5 fs-5">
        {{{recipe.summary}}}
      </div>
      <div class="d-flex
          flex-lg-nowrap flex-wrap
          justify-content-center pt-4 row">
        <div class="mx-2 mb-5 p-3 col-4 ingredients-container">
          <h3 class="subtitle pb-2">Ingredients</h3>
          <ul class="text-start text-light pt-3">
            {{#each recipe.ingredients}}
            <li class="fs-5 lh-base">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="mx-2 mb-5 col-6">
          <h3 class="subtitle">Instructions</h3>
          <ol class="text-start list-group-numbered pt-3  ">
            {{#each recipe.steps}}
            <li class="fs-5 lh-lg list-item">{{this}}</li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    </main>
    {{> footer}}