{{>private-navbar}}


  <div class="container bg-light mt-5">
      <div class="p-4">
        <h1 id="search-title" data-dayId="{{dayId}}" data-meal="{{meal}}" data-day="{{day}}" data-id="{{mealPlanId}}" class="text-center search-title">{{toUpperCase day}} - {{toUpperCase meal}}</h1>
        <form id="update-search"class="d-flex flex-wrap flex-column">
          <input
            class="form-control form-control-lg mb-3"
            type="text"
            placeholder="Search for tomatoes.."
            aria-label=".form-control-lg example"
            id="search-input"
          />

          <div class="text-center">Select dietary requirements</div>
          <div
            class="btn-group mb-3 flex-wrap"
            id="diet-input"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="glutenFree"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="glutenFree"
              >Gluten Free</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="ketogenic"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="ketogenic"
              >Ketogenic</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="vegetarian"
              >Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="lacto-vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="lacto-vegetarian"
              >Lacto-Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="ovo-vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="ovo-vegetarian"
              >Ovo-Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="vegan"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="vegan"
              >Vegan</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="pescetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="pescetarian"
              >Pescetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="paleo"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="paleo"
              >Paleo</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="primal"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="primal"
              >Primal</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="whole30"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="whole30"
              >Whole30</label
            >
          </div>

          <div class="text-center">Any intolerances?</div>
          <div
            id="intolerance-input"
            class="btn-group mb-3 flex-wrap"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="Dairy"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Dairy">Dairy</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Egg"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Egg">Egg</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Gluten"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Gluten">Gluten</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Grain"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Grain">Grain</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Peanut"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Peanut">Peanut</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Seafood"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Seafood">Seafood</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Sesame"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Sesame">Sesame</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Shellfish"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Shellfish">Shellfish</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Soy"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Soy">Soy</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Sulfite"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Sulfite">Sulfite</label>
            <input
              type="checkbox"
              class="btn-check"
              id="TreeNut"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="TreeNut">Tree Nut</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Wheat"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Wheat">Wheat</label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg search-btn">
            Search
          </button>
        </form>
      </div>
     
     {{#if noSearchResults}}
        {{> no-results}}
        {{else}}
      {{#if searchMeals}}
       <div class="search-results mx-5 mt-4">
        <h3 class="text-center search-title mb-4">Results</h3>
        <div id="searchResults" class="d-flex flex-wrap justify-content-center">
          {{#each searchMeals}}
<div id="mealCard"  class="card shadow mb-5 mx-4 bg-body rounded" style="width: 18rem">
  <img id="image"  src="{{image}}" class="card-img-top" alt="{{title}}" />
  <div class="card-body text-center">
    <h5 id="title" class="card-title search-title">
      {{title}}
    </h5>
    <div class="card-text text-start">
      <div id="readyInMinutes" >Ready in: {{readyInMinutes}} minutes</div>
      <div id="servings" >Servings: {{servings}}</div>
    </div>
    <button name="view-btn" id="{{id}}" class="btn btn-primary view-btn mt-3">View</button>
    <button  data-title="{{title}}" data-servings="{{servings}}" data-ready="{{readyInMinutes}}" data-image="{{image}}"  data-id="{{id}}" 
      type="button"
      name="updateMeal"
      id="{{../mealPlanId}}"
      class="btn btn-primary add-btn mt-3"
    >Add</button>
  </div>
</div>

          {{/each}}
        </div>
      </div>
         
         {{/if}}
         {{/if}}
    </div>