
{{>private-navbar}}


<main>
<div class="container mb-5">
<div class="jumbotron text-center">
  <h1 class="display-5">Hello {{firstName}}!</h1>
  <p class="lead">Here are all of the meals in your meal plans. Click to view your recipes.</p>
</div>
</div>

  {{#if meals}}    
    <div class="d-flex flex-wrap justify-content-center mx-5">
  {{#each meals}}
    <div class="card border-0 shadow mb-5 mx-4 bg-body rounded" style="width: 18rem">
  <img src="{{image}}" class="search-img" alt="{{title}}" />
  <div class="card-body text-center">
    <div class="h-25 mb-3">
    <h5 class="card-title search-title">
      {{title}}
    </h5>
    </div>
    <div class="card-text text-start">
      <div> <i class="far fa-clock py-3 me-2"></i> Ready in: {{ready_in_minutes}} minutes</div>
      <div> <i class="fas fa-user-friends py-3 me-2"></i>Servings: {{servings}}</div>
    </div>
  </div>
    <div class="card-footer p-0 m-0">
    <div class="d-grid d-flex">
      <button
        name="view-btn" 
        id="{{spoonacular_id}}"
        class="btn btn-primary view-btn-meals py-1 w-50"
      >View</button>
        <button
          id="{{id}}"
          name="delete-meal"
          class="btn btn-danger delete-btn py-1 w-50"
          data-bs-toggle="modal"
          data-bs-target="#modal{{id}}"
        ><i id="{{id}}" class="fas fa-trash-alt delete-meal"></i></button>
    </div>
  </div>
</div>

 <div class="modal" id="modal{{id}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Deleting this will also remove the meal from all of your meal plans.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success meal-delete" name="confirm-meal-delete" id="{{id}}">Confirm</button>
      </div>
    </div>
  </div>
</div>
  {{/each}}
  {{else}}
  <div class="container">
    <div class="card mt-5 w-md-50 w-lg-25  mx-auto shadow p-3 mb-5 bg-body rounded empty-meals">
      <div class="card-body text-center p-3">
      <h4 class="my-3">You haven't added any meals yet!</h4>
     <p>Head back to the <a class="dishup-links"href="/dashboard">dashboard</a> to get started.</p>    
     
    </div>
  </div>
  </div>

    </div>
  {{/if}}
  </main>
  {{> footer}}
 