
{{>private-navbar}}

<div class="container">
<div class="jumbotron text-center">
  <h1 class="display-5">Hello {{firstName}}!</h1>
  <p class="lead">Here are all of the meals in your meal plans. Click to view your recipes.</p>
</div>
</div>

  {{#if dayArray}}
    <h2 class="my-3 text-center home-title">Results</h2>
    <div class="d-flex flex-wrap justify-content-center">
  {{#each dayArray}}
    <div class="card shadow mb-5 mx-4 bg-body rounded" style="width: 18rem">
  <img src="{{image}}" class="card-img-top" alt="{{title}}" />
  <div class="card-body text-center">
    <h5 class="card-title search-title">
      {{title}}
    </h5>
    <div class="card-text text-start">
      <div>Ready in: {{readyInMinutes}} minutes</div>
      <div>Servings: {{servings}}</div>
    </div>
    <button
      name="view-btn"
      id="{{id}}"
      class="btn btn-primary view-btn mt-3"
    >View</button>
  </div>
</div>
  {{/each}}
    </div>
  {{/if}}
 