
{{>private-navbar}}


<main class="main-container flex-shrink-0">
<div class="container">
<div class="jumbotron text-center">
  <h1 class="display-5">Hello {{firstName}}!</h1>
  <p class="lead">Here are all of the meals in your meal plans. Click to view your recipes.</p>
</div>
</div>

  {{#if meals}}
    
    <div class="d-flex flex-wrap justify-content-center">
  {{#each meals}}
    <div class="card shadow mb-5 mx-4 bg-body rounded" style="width: 18rem">
  <img src="{{image}}" class="search-img" alt="{{title}}" />
  <div class="card-body text-center">
    <h5 class="card-title search-title">
      {{title}}
    </h5>
    <div class="card-text text-start">
      <div>Ready in: {{ready_in_minutes}} minutes</div>
      <div>Servings: {{servings}}</div>
    </div>
  </div>
    <div class="card-footer p-0 m-0">
    <div class="d-grid">
      <button
        name="view-btn"
        id="{{spoonacular_id}}"
        class="btn btn-primary view-btn py-1 w-100"
      >View</button>
    </div>
  </div>
</div>
  {{/each}}
    </div>
  {{/if}}

  </main>
  {{> footer}}
 